
header {
    width: 100vw;
}

body {
    font-family: 'Exo 2', sans-serif;
    background: linear-gradient(#D3D3D3,#A9A9A9,#696969);
}

.menu {
    background: black;
    padding: 2.5em;
}

.menu ul {
    display: flex;
    justify-content: space-evenly;
}

.menu li a {
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    transition: 0.5s;
}

.menu li a:hover {
    color: darkorange;
}

@media (max-width: 480px) {
    .menu {
        padding: 1.5em;
    }
    
    .menu ul {
        display: block;
    } 
    
    .menu li a {
        font-size: 1em;
    }
}

.banner {
    width: 100vw;
}

.principal-titulo {
    font-size: 2.5em;
    text-align: center;
    padding: 2.5em;
    text-shadow: 1px 1px #FF4500;
}

.principal-conteudo {
    margin: auto 2.5em;
}

.principal-conteudo p {
    width: 60%;
    line-height: 2em;
    font-size: 1.2em;
    vertical-align: top;  
    margin: 2em 0;  
}

.principal-sobre {
    font-size: 1.8em;
 }

 #principal img {
    float: right;
    height: 350px;
    width: 350px;
    width: 30%;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #2F4F4F;
}

@media (max-width: 480px) {
    .principal-titulo {
        font-size: 1.5em;
        padding: 1.5em;
    }

    .principal-sobre {
        font-size: 1.2;
        text-align: center;
        margin: 1em auto;
    }

    .principal-foto {
        text-align: center;
    }

    #principal img {
        float: none;
        height: 250px;
        width: 250px;
        margin: 1em auto;
    }

    .principal-conteudo p {
        width: 100%;
        margin-top: 2em;
        text-align: justify;
        font-size: 1em;
    }
}

#modalidades h2 {
    font-size: 1.8em;
    margin-bottom: 2em;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.modalidades-imagens {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.imagem-mt,
.imagem-boxe,
.imagem-jiu {
    width: 300px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #2F4F4F;
}

@media (max-width: 480px) {
    #modalidades h2 {
        font-size: 1.8em;
        margin: 2em auto 1em;
        text-align: center;
        padding-top: 3em;
    }
    
    .modalidades-imagens {
        display: block;
        margin: auto;
        text-align: center;
    }

    .imagem-mt,
    .imagem-boxe,
    .imagem-jiu {
        width: 250px;
        height: 150px;
        border-radius: 15px;
        box-shadow: 5px 5px 10px #2F4F4F;
        margin: 2em auto;
    }
}

footer {
	text-align: center;
	background: RGB(255, 69, 0, 0.7);
    padding: 40px 0;
    margin-top: 6em;
}

footer p {
    margin: 1.5em auto;
}

